<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntroKotlin"
        tools:targetApi="31">
        <activity
            android:name=".Diccionario.CapturarActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Diccionario.BuscarActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Diccionario.MenuDiccionarioActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tema4.Ejemplo4Activity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Tema3.Ejemplo3Activity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Tem2App.ResultadoActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Tem2App.Ejemplo2Activity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tema1App.Ejemplo2Activity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".tema1App.Ejemplo1Activity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="Cinepolis.CinepolisActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
    </application>

</manifest>